%img{src: 'http://pic.toqoz.net/288fc361ab8b2293b21daee2cad4e1c363fe05fc.png', width:200}
%h2 Profile
%dl.profile
  %dt Name
  %dd Takatoshi Matsumoto
  %dt Mail
  %dd toqoz403@gmail.com
  %dt Skype
  %dd ToQoz (tm.taka)
%h2 Activity
%dl
  %dt Twitter
  %dd
    %a{href:'https://twitter.com/#!/ToQoz'} @ToQoz
  %dt Facebook
  %dd
    %a{href:'http://www.facebook.com/takatoshi.m'} Takatoshi Matsumoto
  %dt Tumblr
  %dd
    %a{href:'http://tumblr.toqoz.net'} ToQoz notes
  %dt Blog
  %dd
    %a{href:'http://d.hatena.ne.jp/ToQoz'} 頭骨Blog (Hatena Diary)
  %dt Github
  %dd
    %a{href:'http://github.com/ToQoz'} ToQoz
  %dt Gist
  %dd
    %a{href:'http://gist.github.com/ToQoz'} ToQoz
%h2 Created
%ul
  %li
    %a{href:'https://github.com/ToQoz/Pyblr'} Pyblr
    %span.notes Pyblr is a simple Tumblr API v2 library written in python. Original(Ruby) %a{href:'https://github.com/mitukiii/tumblife-for-ruby'} mitukiii/tumblife-for-ruby
  %li
    %a{href:'http://twitter.toqoz.net'} 頭骨API
    %span.notes post to Twitter as ToQoz
  %li
    %a{href:'http://pic.toqoz.net'} pic.toqoz.net
    %span.notesmy favorite pictures
  %li
    %a{href:'http://eventsurfing.herokuapp.com'}>EventSurfing
    %span.notes the service is searches the event in ATND
%h2 Interested in
%ul
  %li JavaScript (Server Side and Client Side)
  %li Ruby
  %li Padrino
  %li Python
  %li Objective-C
  %li HTML
  %li CSS
  %li Nginx
  %li MongoDB
  %li Vim
  %li (Haskell)
%h2 Desired ones
%a{href:'http://www.amazon.co.jp/registry/wishlist/3F1SFMFHC5VV3/ref=cm_wl_rlist_go_o'} Amazon wish list
