!!!
%html
  %head
    %meta(charset='utf-8')
    %title ToQoz.net
    %link{rel: 'stylesheet', type: 'text/css', media:'screen', href: stylesheet_path('normalize')}
    %link{rel: 'stylesheet', type: 'text/css', media:'screen', href: stylesheet_path('styles')}
  %body
    %h1 ToQoz.net
    = yield
